@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  height: calc(100vh - 64px);
}
.container {
  width: 100%;
  max-width: 1300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.lg-container {
  width: 100%;
  max-width: 1520px;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .lg-container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .lg-container {
    max-width: 960px;
  }
  .banner {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .lg-container {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .lg-container {
    max-width: 540px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .banner {
    height: 200px;
  }
}

@font-face {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Arimo/static/Arimo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Arimo/static/Arimo-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Arimo/static/Arimo-SemiBold.ttf") format("truetype");
}

body {
  background-color: white;
  font-family: "Arimo", sans-serif;
  /* height: 100%; */
}

.swiper-pagination-bullet-active {
  outline: 1px solid #fec33b;
  outline-offset: 3px;
}
.swiper-slide-thumb-active div {
  border: 5px solid #fec33b;
}

*::selection {
  background-color: #fec33b;
  color: white;
}

.index-vars .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 999px;
  background-color: #e5e5e5;
  opacity: 100;
}
.index-vars .swiper-pagination-bullet-active {
  background-color: #fec33b;
}
